# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\labs\laba5fin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
